<<<<<<< HEAD
 img {
=======
img {
>>>>>>> 9b8253a8a3253647357ef42d573dc409fe438bde
    max-height: 30px;
}
#rather .flex {
    width: 100%;
    align-items: flex-end;
    justify-content: space-evenly;
    
}
<<<<<<< HEAD

#search-results.hidden {
    visibility: hidden;
}
=======
>>>>>>> 9b8253a8a3253647357ef42d573dc409fe438bde
